/*
    Elements: Page
    ---
    Default markup for page level elements
*/

html {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #111;
  /* padding: 24px 24px 0; */
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-color: #f5f3f0;
}

/* body {

} */

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::selection {
  background: #44c8f5;
  color: white;
}

/*
    Elements: Images
    ---
    Default markup for images to make them responsive
*/

img {
  max-width: 100%;
  vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1 {
  font-family: 'Times New Roman', serif;
  font-size: 36px;
  font-weight: normal;
  line-height: 40px;
  margin: 0 0 48px;
}

h2 {
  font-size: 23px;
  line-height: 32px;
  margin: 0 0 24px;
}

h3 {
  font-size: 18px;
  line-height: 24px;
  margin: 0 0 24px;
}

h4,
h5,
h6 {
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 24px;
}

p,
ol,
ul,
dl,
table,
address,
figure {
  margin: 0 0 24px;
}

ul,
ol,
blockquote {
  font-size: inherit;
  line-height: inherit;
}

li ul,
li ol {
}

blockquote {
  font-size: italic;
  font-size: 23px;
  line-height: 32px;
  margin: 0 0 24px;
  font-family: 'Times New Roman', serif;
}

figcaption {
  font-size: 12px;
  line-height: 16px;
  padding-top: 8px;
  color: Grey;
}

hr {
  border: 0;
  height: 1px;
  background: LightGrey;
  margin: 0 0 24px;
}

a {
  color: RoyalBlue;
  transition: all 0.1s ease-in-out;
}

a:visited,
a:active {
  color: BlueViolet;
}

a:hover,
a:focus {
  color: Crimson;
}

table {
  width: 100%;
  border-spacing: 0;
  margin-bottom: 20px;
}

th {
  text-align: left;
  /* border-bottom: 20px solid #F5F3F0; */
}

th,
td {
  padding: 4px 8px 20px;
}

th:first-child,
td:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

th:last-child,
td:last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

tr {
  background-color: #d41401;
  color: white;
  margin-bottom: 20px;
}

.odd {
  background-color: whitesmoke;
}
/*
    Media Queries
    ---
    EXAMPLE Media Queries for Responsive Design.
    These examples override the primary ('mobile first') styles.
    Modify as content requires.
*/

/* Extra small devices (portrait phones, less than 576px)
   No media query since this is the default in Bootstrap
*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* html {
    padding: 48px 48px 24px;
  }
  h1 {
    font-size: 58px;
    line-height: 64px;
  } */
}

/* Large devices (landscape tablets, desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

.c-btn {
  display: inline-block;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  background-color: #007c89;
  padding: 14px 25px;
  color: white;
}

.c-btn:hover,
.c-btn:focus {
  color: #fff;
  background: #4f95ff;
}

.c-data {
  display: inline-block;
  background-color: #d41401;
  padding: 20px 20px;
  color: white;
  border-radius: 20px;
}

.o-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 90em; /* 90 * 16px = 1440px */
}

.o-row {
  padding: 24px 24px 0;
  display: flow-root;
  margin: auto;
}

.o-row--body {
  bottom: 0;
}

@media (min-width: 768px) {
  .o-row {
    padding-left: 48px;
    padding-right: 48px;
  }
}

.o-row--fixed {
  position: sticky;
  top: 0;
  display: flex;
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
}

/*------------------------------------*\
  #COMPONENTS
\*------------------------------------*/

/*
    Component: Header
    ---
    Main header of the website
*/

.c-header {
  color: white;
  background-color: #d41401;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 1024px) {
  .c-header__nav {
    display: block;
  }

  .c-header__nav {
    margin-right: 24px;

    /* solution 1 */
    /* margin-left: auto; */

    /* solution 2 */
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
  }
}

/*
    Component: Nav
    ---
    Main navigation
*/

.c-nav {
  font-size: 16px;
  line-height: 22px;
  margin-left: auto;
  margin-right: 0;
}

.c-nav__link {
  text-decoration: none;
  display: block;
}

.c-nav__link,
.c-nav__link:visited,
.c-nav__link:active {
  color: white;
}

.c-nav__link:hover,
.c-nav__link:focus {
  color: #3385ff;
}

@media (min-width: 1024px) {
  .c-nav__list {
    display: flex;
  }

  .c-nav__item--cta {
    margin-left: 20px;
  }

  .c-nav__link {
    padding: 8px 20px;
  }
}

/*
    Objects: List
    ---
    Small reusable object to remove default list styling from lists
*/

.o-list {
  list-style: none;
  padding: 0;
}
